/* Adjust this CSS to fit your needs */

/* Smaller image */
.card-image-small {
    width: 50%;
    /* Adjust as needed */
    height: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Smaller modal */
.modal-dialog.modal-sm {
    max-width: 450px;
    /* Adjust as needed */
}

.modal-body {
    overflow-y: auto;
}