.top-decks-container {
    padding-top: 120px;
}

.top-decks-button-container {
    padding-top: 100px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.top-decks-custom-margin {
    margin: 15px;
    width: 45%;
    display: flex;
    justify-content: center;
}

.top-decks-fixed-card {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.top-decks-card-img-custom {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.top-decks-card-body {
    width: 340px;
    max-width: 340px;
    height: 130px;
}

.top-decks-card-title {
    max-width: 340px;

}

.top-decks-card-description {
    max-width: 340px;
}