/* TopDecks.css */

.top-decks-container {
    padding-top: 100px;
    /* Adjust this value to lower the cards as needed */
}

.cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card-custom {
    width: 100%;
    max-width: 500px;
    /* Adjust the card width as needed */
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card-custom:hover {
    transform: scale(1.05);
    /* Grow the card a little bit on hover */
}

.card-img-custom {
    height: 200px;
    /* Adjust the card image height as needed */
    object-fit: cover;
    /* Ensure the image fits within the card */
}