body {
  margin: 0;
  padding: 0;
  background-color: bisque; /* Set background color for the entire page */
}

.cards-of-deck-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  position: relative; /* Changed from fixed to relative */
  width: auto;
  height: auto; /* Changed to auto to accommodate content height */
  overflow-y: auto; /* Allow vertical scrolling */
  z-index: 1; /* Ensure it stays below the navbar */
}

.container {
  max-width: 100%;
  margin-top: 100px; /* Adjust this value based on your navbar height */
}

.title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.nav-scroll-container {
  margin-top: 20px; /* Adjusted margin to fit within the viewport */
}

.cards-of-deck-info {
  text-align: center;
}

.cards-of-deck-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(100px, 0.3fr));
  gap: 16px; /* Adjust gap between cards */
  justify-content: center;
  align-items: center;
}

.cards-of-deck-card {
  width: 100%;
  max-width: 90%;
  background-color: bisque;
}

.cards-of-deck-card-image {
  width: 100%;
  height: auto;
  object-fit: fill;
  background-color: bisque;
}

.cards-of-deck-video-player {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
