.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.pagination button {
    background-color: #EEE365;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    color: #000;
}

.pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.pagination span {
    font-size: 16px;
}