.user-info-page-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: bisque;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.no-user-message {
  font-size: 24px;
  color: #e76f51;
  text-align: center;
  max-width: 100%;
  width: 100%;
}

.user-info-container {
  display: flex;
  margin-top: 7%;
}

.remove-account-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-top: 1%;
}

.remove-account-btn button {
  background-color: red;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.remove-account-btn button:hover {
  background-color: lightcoral;
}
