.shopping-cart-container {
  margin-top: 10%;
  width: 100%;
}

.shopping-cart-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.list-items {
  flex: 1;
}

.cart-summary {
  width: 20%;
}
